<head>
    <meta name = "viewport" content = "width=device-width,initial-scale=1.0">
    <link rel = "stylesheet" href = "{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container page2">
        <!-- <h1> Homework 1</h1> -->
        <h2>1. How do cloud platforms enable the storage and processing of large datasets required for real-world AI projects?</h2>
        <p>Cloud platforms enable the storage and processing of large datasets for AI projects through scalable infrastructure, distributed storage, high-performance computing and AI/ML tools:</p>
        <p>1.1 Storage:
            <br>• Distributed storage (e.g., HDFS, Amazon S3) for large datasets.
            <br>• Scalability & Elasticity to automatically adjust as data grows.
            <br>• Redundancy and reliability with backup systems.
            <br>• High-performance storage (e.g., SSDs) for fast data retrieval.
        </p>
        <p>1.2 Processing:
            <br>• GPUs/TPUs for accelerated AI model training.
            <br>• Parallel & distributed computing (e.g., MapReduce, Spark) for efficient processing.
            <br>• Managed services (e.g., AWS Glue, Data Lakes) for ETL and data handling.
            <br>• Support for AI/ML frameworks (e.g., TensorFlow, Azure ML).
        </p>
        
        <h2>2. Why are web applications essential for providing user-friendly interfaces to deploy and interact with AI models?</h2>
        <p>• Accessibility: Accessible from any device with an internet connection, no specialized hardware or software needed.
            <br>• User Experience: Intuitive GUI for users with varying technical expertise.
            <br>• Real-Time Interaction: Immediate data input, parameter adjustments, and feedback for quick decisions.
            <br>• Responsiveness: Adapts to different screen sizes for a consistent experience.
            <br>• Scalability: Efficiently handles multiple users and requests.
            <br>• Integration: Seamlessly integrates with other services and APIs.
        </p>
        
        <h2>3. How do cloud services support the scalability of AI projects when handling high volumes of real-time data?</h2>
        <p>Cloud services support AI scalability with:
            <br>• Elastic Compute Resources: Cloud services offer on-demand compute power (e.g., CPUs, GPUs), scaling automatically based on workload demand.
            <br>• Distributed Storage: Scalable storage for large data volumes with high availability.
            <br>• Real-Time Data Processing: Cloud platforms provide tools for real-time data streaming and event processing (e.g., AWS Kinesis).
            <br>• Serverless Architectures: Serverless options (e.g., AWS Lambda, Google Cloud Functions) scale automatically, reducing infrastructure management.
            <br>• Edge Computing: Cloud supports edge processing to reduce latency, processing data closer to the source for time-sensitive tasks.
            <br>• Data Integration Seamlessly combines various data sources and tools for a unified ecosystem.
        </p>
        
        <h2>4. How do web applications facilitate the integration of AI models into end-user environments for real-world applications?</h2>
        <p>• Cross-platform compatibility: Web apps run on various devices, expanding AI's reach.
            <br>• Lowering access barriers: Web apps allow users to easily interact with AI models, requiring minimal technical knowledge.
            <br>• Data collection and continuous learning: Web apps gather user data and feedback, enabling AI models to continuously improve and optimize services.
            <br>• API integration and enhanced interaction: Web apps integrate external AI APIs and use intuitive interfaces (e.g., NLP, voice recognition) to provide advanced AI functionalities and seamless user experiences.
        </p>
        
        <h2>5. How do cloud-based AI services simplify model training, deployment, and monitoring in real-world scenarios?</h2>
        <p>5.1 Model Training:
            <br>• Cloud platforms (e.g., AWS, Azure) provide powerful compute resources (e.g., GPUs, TPUs) for accelerated training of large models.
            <br>• Support for popular deep learning frameworks (e.g., TensorFlow) simplifies the training process with rich APIs and tools.
        </p>
        <p>5.2 Model Deployment:
            <br>• Managed services (e.g., AWS SageMaker) automate deployment tasks, including model preparation, API development, and scaling.
            <br>• Optimization techniques like model compression and quantization improve model efficiency and deployment.
        </p>
        <p>5.3 Model Monitoring:
            <br>• Real-time monitoring tools track model performance and prediction accuracy, ensuring stable operation.
            <br>• Detailed logs and performance analysis help quickly identify issues and optimize the model over time.
        </p>  
          
        <form action="/" method="post">
            <input type = "submit" value="Exit">
        </form>    
    </div>
</body>


